
#con1{
    transform: scale(1);
    transition: all 0.5s;
}

#con1:hover{
  transform: scale(1.1);
  transition: all 0.5s;

}
#con1:hover img{
animation: card 1s forwards linear;
}
@keyframes card {
    0% {
      transform: translateX(0px) ;
    }
    25% {
      transform: translateX(0px) ;
    }
    50% {
      transform: translateX(25px)  ;
      box-shadow: 3px 3px 4px #000 ;
    }
    75% {
      transform: translateX(25px) ;
      box-shadow: 3px 4px 6px #000 ;
    }
    100% {
      transform: translateX(10px) ;
      box-shadow: 3px 6px 8px #000 ;
    }
  }