.table-cell {
    font-family: 'Edu VIC WA NT Beginner';
    font-size: 18px; 
  }
  
  .table-header-cell {
    font-family: 'Edu VIC WA NT Beginner';
    font-weight: bold;
    font-size: 20px; 
  }