@media screen and (max-width: 780px) {
    #messageTable{
      display: none;
    }
    #messageCard{
      display: flex;
      border: 2px solid #0e77a0;
      border-radius: 15px;
      transition: transform 1s;
    }
  }
  #messageCard:hover{
     border-width: 3px;
     animation: animateBorder 2s infinite forwards linear;
     transform: scale(1.04);
     transition: transform 1s;
  }
  @keyframes animateBorder{
    0%{
      border-color: #000 #0e77a0 #0e77a0 #0e77a0 ;
    }
    25%{
      border-color: #0e77a0 #000 #0e77a0 #0e77a0 ;
    }
    50%{
      border-color: #0e77a0 #0e77a0 #000 #0e77a0 ;
    }
    75%{
      border-color: #0e77a0 #0e77a0 #0e77a0 #000 ;
    }
    100%{
      border-color: #000 #0e77a0 #0e77a0 #0e77a0 ;
    }
  }